.general-option-image {
  height: 32px;
  width: 32px;
}

.general-option:hover {
  border-radius: 12px;
  background-color: #F7E599;
}

.selected{
  border-radius: 12px;
  background-color: #F7E599;
}
